<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/styles/join_s.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join Member</title>
  </head>
  <body>
    <section class="theme">
      <img
        src="/imgs/logo/whois_logo_sub_blue.png"
        alt="Project Logo Sub Blue"
      />
    </section>
    <section class="formArea">
      <form action="/member/join_s" method="post"></form>
    </section>
  </body>
</html>
