<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/styles/join_s.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
      var userinput;
      var emptyCheck = /\s/;
      var pwRule = /^(?=.*[a-zA-Z0-9])(?=.*\W).{10,20}$/;
      var pnRule = /^(?=.*[0-9]).{11}$/;
      var emRule = /^[a-z0-9_+.-]+@([a-z0-9-]+\.)+[a-z0-9]{2,4}$/;
      $(function () {
        $("#pw").focusout(pwCheckRule);
        $("#pn").focusout(pnCheckRule);
        $("#em").focusout(emCheckRule);
        $("#uname").focusout(naCheckRule);
        $("#bd").focusout(bdCheckRule);
      });

      function checkEmailAvailability() {
        userinput = $("#em").val();
        $.ajax({
          url: "/member/emailCheck_C",
          type: "post",

          data: {
            tempEmail: userinput,
          },

          success: function (result) {
            $("#em").css("color", result);
            $("#em").css("border-color", result);
            if (result == "green") document.jform.submit();
          },
        });
      }

      function pwCheckRule() {
        userinput = $("#pw").val();
        if (pwRule.test(userinput) && !emptyCheck.test(userinput)) {
          $("#pw").css("border", "2px solid green");
          $("#pw").css("color", "green");
          return true;
        } else {
          $("#pw").css("border", "2px solid red");
          $("#pw").css("color", "red");
          return false;
        }
      }

      function pnCheckRule() {
        userinput = $("#pn").val();
        if (pnRule.test(userinput) && !emptyCheck.test(userinput)) {
          $("#pn").css("border", "2px solid green");
          $("#pn").css("color", "green");
          return true;
        } else {
          $("#pn").css("border", "2px solid red");
          $("#pn").css("color", "red");
          return false;
        }
      }

      function emCheckRule() {
        userinput = $("#em").val();
        if (emRule.test(userinput) && !emptyCheck.test(userinput)) {
          $("#em").css("border", "2px solid green");
          $("#em").css("color", "green");
          return true;
        } else {
          $("#em").css("border", "2px solid red");
          $("#em").css("color", "red");
          return false;
        }
      }

      function naCheckRule() {
        userinput = $("#uname").val();
        if (emptyCheck.test(userinput) || userinput == "") {
          $("#uname").css("border", "2px solid red");
          $("#uname").css("color", "red");
          return false;
        } else {
          $("#uname").css("border", "2px solid green");
          $("#uname").css("color", "green");
          return true;
        }
      }

      function bdCheckRule() {
        userinput = $("#bd").val();
        if (emptyCheck.test(userinput) || userinput == "") {
          $("#bd").css("border", "2px solid red");
          $("#bd").css("color", "red");
          return false;
        } else {
          $("#bd").css("border", "2px solid green");
          $("#bd").css("color", "green");
          return true;
        }
      }

      function gdCheck() {
        if (
          !document.getElementById("maleSelector").checked &&
          !document.getElementById("femaleSelector").checked
        ) {
          $("#error").text("필수선택");
          return false;
        } else {
          $("#error").text("");
          return true;
        }
      }

      function finalCheck() {
        // if (!emCheckRule()) return false;
        // if (!pwCheckRule()) return false;
        // if (!naCheckRule()) return false;
        // if (!pnCheckRule()) return false;
        // if (!bdCheckRule()) return false;
        // if (!gdCheck()) return false;
        checkEmailAvailability();
      }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join Member</title>
  </head>
  <body>
    <section class="theme">
      <a href="/">
        <img
          src="/imgs/logo/whois_logo_sub_blue.png"
          alt="Project Logo Sub Blue"
        />
      </a>
    </section>
    <section class="formArea">
      <p class="pageName">SIGN UP</p>
      <form name="jform" action="/member/c_signup" method="post">
        <input
          type="text"
          name="email"
          id="em"
          placeholder="아이디 (이메일)"
          required
        />
        <input
          type="password"
          name="password"
          id="pw"
          placeholder="비밀번호 (10~20자, 특수문자 최소 1개 포함)"
          required
        />
        <input
          type="text"
          name="name"
          id="uname"
          placeholder="담당자 이름"
          required
        />
        <input
          type="text"
          name="phoneNumber"
          id="pn"
          placeholder="담당자 휴대폰 번호 (-없이 입력)"
          required
        />
        <input
          type="text"
          name="corpNo"
          id="cno"
          placeholder="사업자 등록 번호"
          required
        />
        <input
          type="text"
          name="corpName"
          id="cname"
          placeholder="사업자명"
          required
        />
        <select name="industryField">
          <option value="distribution">유통</option>
          <option value="construction">건설</option>
          <option value="event">행사</option>
          <option value="ecommerce">전자상거래</option>
        </select>
        <input
          type="text"
          name="corpAddress"
          id="addr"
          placeholder="사업자 등록주소"
          required
        />
        <input
          type="date"
          id="bd"
          name="establishedDate"
          max="2020-12-31"
          required
        />

        <button type="button" onclick="finalCheck();">회원가입</button>
      </form>
    </section>
  </body>
</html>
