<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/main/main_corp.css">
    <title>Title</title>
</head>
<body>
    <main>
        <section class="matchable_worker">
            <div class="worker_card">
                <img width="250px" height="250px" style="margin-top: 10px;"></img>
                <div>이름</div>
                <div>학력 | 관련직무 | 신입/경력</div>
            </div>
            <div class="worker_card">
                <img width="250px" height="250px" style="margin-top: 10px;"></img>
                <div>이름</div>
                <div>학력 | 관련직무 | 신입/경력</div>
            </div><div class="worker_card">
                <img width="250px" height="250px" style="margin-top: 10px;"></img>
                <div>이름</div>
                <div>학력 | 관련직무 | 신입/경력</div>
            </div><div class="worker_card">
                <img width="250px" height="250px" style="margin-top: 10px;"></img>
                <div>이름</div>
                <div>학력 | 관련직무 | 신입/경력</div>
            </div><div class="worker_card">
                <img width="250px" height="250px" style="margin-top: 10px;"></img>
                <div>이름</div>
                <div>학력 | 관련직무 | 신입/경력</div>
            </div><div class="worker_card">
                <img width="250px" height="250px" style="margin-top: 10px;"></img>
                <div>이름</div>
                <div>학력 | 관련직무 | 신입/경력</div>
            </div><div class="worker_card">
                <img width="250px" height="250px" style="margin-top: 10px;"></img>
                <div>이름</div>
                <div>학력 | 관련직무 | 신입/경력</div>
            </div><div class="worker_card">
                <img width="250px" height="250px" style="margin-top: 10px;"></img>
                <div>이름</div>
                <div>학력 | 관련직무 | 신입/경력</div>
            </div><div class="worker_card">
                <img width="250px" height="250px" style="margin-top: 10px;"></img>
                <div>이름</div>
                <div>학력 | 관련직무 | 신입/경력</div>
            </div><div class="worker_card">
                <img width="250px" height="250px" style="margin-top: 10px;"></img>
                <div>이름</div>
                <div>학력 | 관련직무 | 신입/경력</div>
            </div>
        </section>
    </main>
</body>
</html>