<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/main/main_corp.css" th:href="@{/css/main/main_corp.css}">
    <title>Title</title>
</head>
<body>
    <main>
        <section class="matchable_worker">
            <div class="matched_prefJob">
                <div class="worker_card" th:each="prefJob : ${prefJobList}">
                    <img width="250px" height="250px" style="margin-top: 10px;"></img>
                    <div th:text="${prefJob.name}">이름</div>
                    <div th:text="${prefJob.gender}">학력 | 관련직무 | 신입/경력</div>
                </div>
            </div>
            <div class="matched_prefMajor">
                <div class="worker_card" th:each="prefMajor : ${prefMajorList}">
                    <img width="250px" height="250px" style="margin-top: 10px;"></img>
                    <div th:text="${prefMajor.name}">이름</div>
                    <div th:text="${prefMajor.gender]">학력 | 관련직무 | 신입/경력</div>
                </div>
            </div>
            <div class="matched_prefExp">
                <div class="worker_card" th:each="prefExp : ${prefExpList}">
                    <img width="250px" height="250px" style="margin-top: 10px;"></img>
                    <div th:text="${prefExp.name}">이름</div>
                    <div th:text="${prefExp.gender]">학력 | 관련직무 | 신입/경력</div>
                </div>
            </div>
            <div class="matched_expMonths">
                <div class="worker_card" th:each="prefMonths : ${prefMonthsList}">
                    img width="250px" height="250px" style="margin-top: 10px;"></img>
                    <div th:text="${prefMonths.name}">이름</div>
                    <div th:text="${prefMonths.gender]">학력 | 관련직무 | 신입/경력</div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>