<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>

	</head>
	<body>
		<header th:replace="~{/main/mypageHeader :: header}">
		</header>
		<main>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		</main>
		<footer>
		
		</footer>
	</body>
</html>