<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="header">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" href="../../static/css/vit/mypage.css" th:href="@{/css/vit/mypage.css}">
	</head>
	<body>
		<header th:fragment="header" id="header" class="fixed">
			<div class="wrap flex around">
				<div class="flex" id="left">
					<img src="/imgs/logo/whois_logo_sub_white.png" class="logo_image">
					<a class="material-icons innersearch">search</a>
					<input type="text" placeholder="검색어를 입력해주세요.">
				</div>
				<div class="flex right" >

				</div>
			</div>
		</header>
		<nav id="side_nav">
			<section id="memberInfo_section" class="view-size">
				<h1>memberInfo</h1>
				<div class="member_page">
					<div class="wrap">
						<div class="photo">
							<label for="file-img" class="file-style">
								<span class="file-cover">+</span>
								<span class="img-disp"></span>
							</label>
							<input type="file" name="file" id="file-img" style="display: none">
						</div>
						<div class="memberInfo">
							<p class="name">Han YoonJin</p>
							<p class="email">hyj950109@naver.com</p>
							<button class="edit">회원정보수정 ▼</button>
							<p clss="logout"><button type="button">로그아웃</button></p>
						</div>
						<div class="memberInfo-edit" style="display: none;">

						</div>
					</div>
				</div>
			</section>
		</nav>
		</main>
		<footer>
		
		</footer>
	</body>
</html>