@charset "UTF-8";

.material-icons.md-36 {
	font-size: 36px;
}
.material-icons.md-light{
	color: white;
}
#header{
	background-color: #003cf0;
	height: 64px;
	width: 100%;
	position: fixed;
	top: 0;
}
#header>.wrap{
	height: 100%;
}
#left {
	text-align: center;
	height: 100%;
	margin: auto 0;
}
#left a{
	margin: auto 0;
	padding: 0.2em;
}
.right {
	margin: auto 0;
}
.right input{
	margin-right: 1em;
	border: 1px solid #003cf0;
	width: 180px;
    height: 30px;
    font-size: 14px;
    border: none;
    align-items: center;
    line-height: 30px;
    border-radius: 0 4px 4px 0;
}
.right button{
	margin: auto 0;
	padding: 0.5em;
	background-color: #ff286e;
	border-radius: 4px;
	height: 30px;
	border: none;
	color: white;
	cursor: pointer;
}
.material-icons.innersearch{
	color: #003cf0;
	margin: auto 0;
	background-color: white;
	padding: 3px;
	border-radius: 4px 0 0 4px;
}

/* /////////////////////////멤버페이지////////////////////// */
body{background-color: #fafafa;}

.member_page{width:210px; height:100vh; background-color:#ffffff; }

.logo{padding: 20px 0 0 20px;}

.member_page>.wrap{
	text-align: center;
}
