<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/main/info_w.css">
	<link rel="stylesheet" href="/main/common.css">
	</head>
	<body>
		<header>
			<script type="text/javascript">
			$(function(){
				var xhr = new XMLhttpRequest;
				
				var key ="h90Qjk2jUiPU9bQZcQMwz4d9r1wSOJ95k03UF%2FuBWhWeQtk%2BYUkLmLAWluCP68MpTI01CDf8ziNEStAOw9T%2FBA%3D%3D";
		    	var url = "//api.odcloud.kr/api/nts-businessman/v1/validate?serviceKey="+key+"&returnType=json";
				
		    	var businesses =
		    		    {
		    		      "b_no": $("#cno").val(),
		    		      "start_dt": $("#opendate").val(),
		    		      "p_nm": $("#sname").val(),
		    		    };
		    		$(function(){
		    		("#truecorp").click(function(){
		    			alert("#sname");
		    		
		    	        $.ajax({
		    	                method: "post",
		    	                url: url,
		    	                data: businesses
		    	            })
		    	            .done(function (msg) {
		    	                alert("Data Saved: " + msg);
		    	            });
		    		})
		    		});
			});
		</script>
		<input
	          type="text"
	          name="corpNo"
	          id="cno"
	          placeholder="사업자 등록 번호"
	          required
	        />
	        <input
	          type="text"
	          name="sName"
	          id="sname"
	          placeholder="대표자명"
	          required
	        />
	        <input
	          type="date"
	          name="openDate"
	          id="opendate"
	          placeholder="사업자명"
	          required
	        />
	        <button type="button" id="truecorp">사업자진위확인</button>
	        <p id="result"></p>
		</header>
		<main >
			<section class="wrap flex center">
				<div id="p_img">
					<img src="">
				</div>
				<div id="p_total" class="p_Info">
					<div class="wrap">
						<dl>
							<dt>이름(한글)</dt>
							<dd>최빛나라</dd>
						</dl>
						<dl>
							<dt>이름(영문)</dt>
							<dd>Choi Vitnara</dd>
						</dl>
						<dl>
							<dt>나이</dt>
							<dd>30</dd>
						</dl>
						<dl>
							<dt>전공</dt>
							<dd>중국어과</dd>
						</dl>
						<dl>
							<dt>주소</dt>
							<dd>서울시 노원구 상계동</dd>
						</dl>
					</div>
					<div>
						<dl>
							<dt>선호직무</dt>
							<dd>백엔드, 프론트엔드</dd>
						</dl>
						<dl>
							<dt>희망연봉</dt>
							<dd>7000만원 이상~</dd>
						</dl>
						<dl>
							<dt>희망지</dt>
							<dd>서울 전지역</dd>
						</dl>
					</div>
					<div>
						<div id="res" class="flex">
							<a href="/rsumdownload">이력서 다운로드</a>
							<a href="/portdownload" class="port">포트폴리오 다운로드</a>
						</div>
					</div>	
				</div>
			</section>
			<section id="spe_info" class="wrap flex center">
				이것은 자소설이자 간격이 얼마나 떨어지는지 보기 위한 것이다. 이렇게 꽉 채우면 과연 여백이 얼마나 남을 것인가에 대한 나의 진지한 고찰에 대하여 생각해본 적이 있는가. 여기는 뭘로 채울지 생각해야하며 굳이 채운다면 구역은 어떻게 나눌 것인지 생각하여야 한다. 그리고 상단바 마이페이지가 함께 보여야 할 것이다.<br>
				것<br>
				은<br>
				자<br>
				소<br>
				설<br>
				이<br>
				것<br>
				은<br>
				우<br>
				리<br>
				의<br>
				소<br>
				중<br>
				한<br>
				포<br>
				트<br>
				폴<br>
				리<br>
				오<br>
				한<br>
				땀<br>
				한<br>
				땀<br>
				정<br>
				성<br>
				으<br>
				로<br>
				만<br>
				들<br>
				었<br>
				으<br>
				니<br>
				잘<br>
				봐<br>
				주<br>
				쇼<br>
			</section>
		</main>
	</body>
</html>