<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:insert="/vit/mypageHeader::head">
	</head>
	<body>
		<header>
			<th:block th:insert="/vit/mypageHeader::header">
		</header>
		<main>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		dd<br>
		</main>
		<footer>
		
		</footer>
	</body>
</html>